@import "node_modules/bootstrap/scss/bootstrap";

// タイトル。
.search-title {
    @extend .col-12;
    color: white;
    background-color: blue;
    font-size: 20px;
    margin: 20px 0;
}

// 検索項目のコンテナ。
.search-item-container {
    margin: 10px 0;
}

// 検索項目の項目名。
.search-item-name {
    @extend .col-4;
}

// 検索項目の項目値。
.search-item-value {
    @extend .col-8;
}

// 検索項目（検索ボタン）
.search-item-button {
    @extend .btn;
    @extend .btn-primary;
    padding: 10px 20px;
}

// 検索項目（検索メッセージ）
#search-message {
    color: red;
    font-weight: bold;
    padding: 10px 0;
    display: none;
}

// 検索項目（ページングのリンク_無効）
.search-item-paging-link_disable {
    visibility: hidden;
}
